* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

body .nav1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height: 50px;
    align-items: center;
    background-image: linear-gradient(to right, rgba(252, 172, 0, 0.829), rgb(245, 89, 198));
}

.nav1 .icons {
    color: #fff;
    display: flex;
    gap: 10px;
    scale: 1.3;
    align-items: center;
}

.nav1 .icons .icon {
    border-left: 1px solid #fff;
    height: 40px;
}

.nav1 .icons .fa-brands:last-child {
    border-left: none
}

.nav1 .center {
    display: flex;
    gap: 20px;
}

.nav1 .center .phone-number {
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.nav1 .center .email {
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.nav1 .btn {
    border: 1.5px solid #fff;
    background-color: rgb(245, 110, 198);
    color: #fff;
    border-radius: 30px;
    font-weight: 700;
    padding: 10px;
    font-size: 12px;
}

body .nav2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.nav2 .logo {
    font-weight: 800;
    font-size: larger;
    padding: 10px;
    padding-right: 130px;
}

.nav2 .menu {
    font-weight: 600;
    padding-right: 110px;
}

.nav2 .menu .item {
    padding-right: 15px;
}

.nav2 .menu .item:hover {
    cursor: pointer;
    color: rgb(245, 110, 198);
}

.nav2 .menu .btn {
    border: none;
    background-color: rgb(238, 168, 75);
    width: 70px;
    height: 60px;
    font-weight: 700;
}

.nav2 .icons {
    background-color: black;
    color: #fff;
    width: 30px;
    height: 60px;
}

.nav2 .icons .fa-solid {
    scale: 1.4;
    align-items: center;
}

.content-section {
    min-height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)), url("./images/back6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 140px 60px;
}

.content-section h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.content-section p {
    color: #fff;
    font-size: 19px;
    margin-top: 10px;
    line-height: 1.5;
}

.content-section .button {
    margin-top: 35px;
}

.content-section .button a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    background-color: rgb(238, 168, 75);
    border-radius: 5px;
    padding: 12px 23px;
    letter-spacing: 1.5px;
}

.content-section .button a:hover {
    background-color: rgb(131, 0, 85);
    transition: 0.5s ease;
}

.about {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.about-img img {
    width: 45vw;
    border-radius: 50%;
}

.heading {
    text-align: center;
    font-size: 4rem;
}

.about-content h2 {
    text-align: center;
    line-height: 1.3;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.5rem;
    margin: 2rem 2rem 3rem 2rem;
}

.about .about-content .btn {
    margin-left: 450px;
}

.about .about-content a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    background-color: rgb(238, 168, 75);
    border-radius: 5px;
    padding: 12px 23px;
    letter-spacing: 1.5px;
}

.about .about-content a:hover {
    background-color: rgb(131, 0, 85);
    transition: 0.5s ease;
}

.services h2 {
    margin-bottom: 6rem;
    margin-top: 3rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 25rem;
    background-image: linear-gradient(to right, rgba(252, 172, 0, 0.829), rgb(245, 89, 198));
    padding: 3rem 1rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid grey;
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: gray;
    transform: scale(1.02);
}

.services-box h3 {
    font-size: 2.6rem;
    color: #fff;
}

.services-box p {
    font-size: 1.5rem;
    color: #fff;
    margin: 1rem 0 3rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 47px;
    padding: 0.5rem;
    color: #fff;
    background-color: rgba(92, 84, 69, 0.829);
}

.footer-text p {
    font-size: 1.4rem;
}